.has-alias-cursor {cursor: alias;}
.has-all-scroll-cursor {cursor: all-scroll;}
.has-auto-cursor {cursor: auto;}
.has-cell-cursor {cursor: cell;}
.has-context-menu-cursor {cursor: context-menu;}
.has-col-resize-cursor {cursor: col-resize;}
.has-copy-cursor {cursor: copy;}
.has-crosshair-cursor {cursor: crosshair;}
.has-default-cursor {cursor: default;}
.has-e-resize-cursor {cursor: e-resize;}
.has-ew-resize-cursor {cursor: ew-resize;}
.has-grab-cursor {cursor: grab;}
.has-grabbing-cursor {cursor: grabbing;}
.has-help-cursor {cursor: help;}
.has-move-cursor {cursor: move;}
.has-n-resize-cursor {cursor: n-resize;}
.has-ne-resize-cursor {cursor: ne-resize;}
.has-nesw-resize-cursor {cursor: nesw-resize;}
.has-ns-resize-cursor {cursor: ns-resize;}
.has-nw-resize-cursor {cursor: nw-resize;}
.has-nwse-resize-cursor {cursor: nwse-resize;}
.has-no-drop-cursor {cursor: no-drop;}
.has-none-cursor {cursor: none;}
.has-not-allowed-cursor {cursor: not-allowed;}
.has-pointer-cursor {cursor: pointer;}
.has-progress-cursor {cursor: progress;}
.has-row-resize-cursor {cursor: row-resize;}
.has-s-resize-cursor {cursor: s-resize;}
.has-se-resize-cursor {cursor: se-resize;}
.has-sw-resize-cursor {cursor: sw-resize;}
.has-text-cursor {cursor: text;}
// .has-url-cursor {cursor: url(myBall.cur),auto;}
.has-w-resize-cursor {cursor: w-resize;}
.has-wait-cursor {cursor: wait;}
.has-zoom-in-cursor {cursor: zoom-in;}
.has-zoom-out-cursor {cursor: zoom-out;}
