.hero {
  .subtitle, .title {
    // background-color: rgba(0,209,178,.9);

    padding: 0.25rem .5rem;
    display: table;
    text-shadow:  1px 2px rgba(0, 0, 0, 0.4),
                  0px 0px 12px rgba(0, 0, 0, 0.7);
  }
}
