@media screen and (max-width: 1024px) {
  #menu-toggle:checked ~ .nav-menu {
    display: block;
    position: absolute;
    top: 3.25rem;
    left: 0;
  }
}

.navbar-brand {
  justify-content: space-between;
}

.navbar-item {
  min-width: 3.25rem;
  min-height: 3.25rem;
  text-align: center;
}

#menu-toggle:checked ~ .navbar-brand .navbar-burger {
  span {
    &:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
    }
  }
}
