.modal {
    z-index: 2147483647;
}
#featured-image-toggle,
#delete-confirmation-toggle {
  display: none;
  cursor: pointer
}
#featured-image-toggle:checked ~ #featured-image-modal,
#delete-confirmation-toggle:checked ~ #delete-confirmation-modal {
  display: flex;
}
